*{
	padding: 0px;
	margin:0px;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
}

.container{
	background-color: #EBEBEB;
	margin: 15px 80px;
	border: 1px solid #000;
}

span{
	color: #FF0000;
}

h2{
	color: #FF0000;
}

.container .FirstInfo{
	padding: 10px 10px;

}

.container .DonorInfo{
	padding: 10px 0px 50px 204px;
}

.container .DonorInfo .DonorForm .FormGroup1 .formControl1{
	margin-left: 40px;
	width: 200px;
}

.container .DonorInfo .DonorForm .FormGroup1 .formControl2{
	margin-left: 42px;
	width: 200px;
}

.container .DonorInfo .DonorForm .FormGroup1 .formControl3{
	margin-left: 62px;
	width: 200px;
}


.container .DonorInfo .DonorForm .FormGroup1 .formControl4{
	margin-left: 56px;
	width: 200px;
}

.container .DonorInfo .DonorForm .FormGroup1 .formControl5{
	margin-left: 64px;
	width: 200px;
}

.container .DonorInfo .DonorForm .FormGroup1 .formControl6{
	margin-left: 93px;
	width: 200px;
}

.container .DonorInfo .DonorForm .FormGroup1 .formControl7{
	margin-left: 84px;
	border-radius: 5px;
}


.container .DonorInfo .DonorForm .FormGroup1 .formControl8{
	margin-left: 61px;
	width: 200px;
}


.container .DonorInfo .DonorForm .FormGroup1 .formControl9{
	margin-left: 65px;
	border-radius: 5px;
	width: 260px;
}

.container .DonorInfo .DonorForm .FormGroup1 .formControl10{
	margin-left: 82px;
	width: 200px;
}

.container .DonorInfo .DonorForm .FormGroup1 .formControl11{
	margin-left: 103px;
	width: 200px;
}

.container .DonorInfo .DonorForm .FormGroup1 .formControl12{
	margin-left: 82px;
	width: 200px;
}

.container .DonorInfo .DonorForm .FormGroup1 .formControl13{
	
}

.container .DonorInfo .DonorForm .FormGroup1 .formControl14{
	
}

.container .DonorInfo .DonorForm .FormGroup1 p{
	margin-left: -50px;
	font-size: 12px;
}

.container .Honorarium{
	padding:  10px 0px 50px 204px ;

}

.container .SecondInfo h2{
	margin-left: 20px;
}

.container .SecondInfo .Honorarium .HonorariumInfo .HonoraiumForm .HR1{
	margin-left: 58px;
}

.container .SecondInfo .Honorarium .HonorariumInfo .HonoraiumForm .HR2{
	margin-left: 121px;
}

.container .SecondInfo .Honorarium .HonorariumInfo .HonoraiumForm .HR3{
	margin-left: 79px;
}

.container .SecondInfo .Honorarium .HonorariumInfo .HonoraiumForm .HR4{
	margin-left: -59px;
}

.container .SecondInfo .Honorarium .HonorariumInfo .HonoraiumForm .HR5{
	margin-left: 66px;
}

.container .SecondInfo .Honorarium .HonorariumInfo .HonoraiumForm .HR6{
	margin-left: 94px;
}

.container .SecondInfo .Honorarium .HonorariumInfo .HonoraiumForm .HR7{
	margin-left: 84px;
}

.container .SecondInfo .Honorarium .HonorariumInfo .HonoraiumForm .HR8{
	margin-left: 99px;
}


.container .Additional{
	padding:  10px 0px 50px 204px ;

}

.container .ThirdInfo .comments{
	margin-left: 10px;
}

.container .ThirdInfo .Additional .AdditionalInfo .AdditionalForm .para{
	margin-left: -193px;
    margin-top: -12px;

}

.container .ThirdInfo .Additional .AdditionalInfo .AdditionalForm .para p{
	font-size: 12px;
}

.container .ThirdInfo .Additional .AdditionalInfo .AdditionalForm .A1{
	margin-left: 81px;
}

.container .ThirdInfo .Additional .AdditionalInfo .AdditionalForm .A2{
	margin-left: -191px;
}

